streamlit==1.35.0
chromadb==0.5.0
sentence-transformers==3.0.0
PyMuPDF==1.24.5
groq==0.9.0
transformers==4.41.2
torch==2.3.1
scikit-learn==1.5.0
pandas==2.2.2
plotly==5.22.0
numpy==1.26.4
python-dotenv==1.0.1
